
#main{
    border:1px solid;
    display:flex;
}
#main>div{
    border:1px solid;
    flex-grow:1;
}

#container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:30px;
}

.box{
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.price{
    display:flex;
    justify-content:space-evenly;
    
    color: blue;
}