#container{
    padding-left: 30px;
    padding-bottom: 30px;
}

#heading{
    margin-top:160px;
    margin-bottom:100px;
   
}

#Storepick{
    
    display:flex;
    grid-template-columns: repeat(2,1fr);
}
#Storepick>div{
color:black;

}
#Storepick>div>h2{
    margin-top:2px;
    margin-bottom:3px;
    
    font-size: 11px;
}
#Storepick>div>p{
    margin-top:2px;
    margin-bottom:3px;
    font-size: 10px;
}

#HomeDelivery{
    
    display:flex;
    grid-template-columns: repeat(2,1fr);
}
#HomeDelivery>div{
     
    height:100%;
}
#HomeDelivery>div>h2{
    margin-top:2px;
    margin-bottom:4px;
    
    font-size: 11px;
}
#HomeDelivery>div>p{
    margin-top:2px;
    margin-bottom:4px;
    font-size: 10px;
}
#btab{
    margin-top:90px;
    display:flex;
     

}
#btab>div{
     
    flex-basis:150px;
    
}

#sldiv{
    display:flex;
    justify-content: space-between;
    margin-top:60px;
     
    font-size: 10px;
}
#sldiv>div{
    color: black; 
}

#ldiv{
 height:80px;
 width:140px;
}
#ldiv>p{
    margin-top:90px;
    font-size:10px;  
}
#btab>div>h3{
    font-size:15px;
}
#btab>div>a p{
    font-size:10px;
}
#total{
    
    
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 450px;
    width: 70px;
    height:35px;
   

}
#total>p{
    
    border-bottom: 40px ;
    color: black;
    
    
    
    
}



.open-button {
    background-color: black;
    color: white;
    /* padding: 16px 20px; */
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 93px;
    right: 28px;
    height:40px;
    width: 50px;
  }


  .open-button2 {
    background-color: black;
    color: white;
    /* padding:16px 20px; */
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    left: 795px;
    height:40px;
    width: 190px;
    
  }
  
  
  .chat-popup {
      
    display: none;
    position: fixed;
    bottom: 83px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  
  .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: white;
  }
  
 
  .form-container textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
  }
  
  
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
 
  .form-container .btn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  
  .form-container .cancel {
    background-color: red;
  }
  
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .form-container .btn:hover, .open-button2:hover {
    opacity: 1;
  }

/* Resetting margin & padding for universal elements  */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body {
    font-family: Poppins;
  }
  
  
  /* Main navbar styles */
  #navbar__main {
    width: 100%;
    height: 125px;
    /* background-color: rgb(161, 161, 161); */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    overflow: hidden;
    border: 1px solid transparent;
  }
  
  
  #navbar__left {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 25%;
    border: 1px solid transparent;
  
    box-sizing: content-box;
  }
  
  #navbar__right {
    /* background-color: rgb(231, 217, 87); */
    width: 24%;
    display: grid;
    grid-template-columns: 50% 30% 10% 10%;
    gap: 15px 0px 0px 0px;
  }
  
  #main-logo {
    max-width: 215px;
    height: 87%;
    /* margin-right: 10px; */
    padding-bottom: 15px;
    align-self: top;
  }
  
  #hamburger {
    max-width: 40px;
    height: 18px;
    margin-top: 3px;
    margin-left: 8px;
  }
  
  .nav-right-pad {
    padding-top: 5px;
    font-size: 14px;
  }
  