#logo {
  width: 100%;
  height: 100px;
  position: fixed;
  margin-left: 30px;
  background-color: white;
}

#logo_img {
  padding-left: 30px;
  height: 100px;
  width: 200px;
}
.space {
  height: 140px;
  width: 180px;
}
.shop_bag {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.product {
  width: 90%;
  height: 500px;
  display:flex;
  align-items: center;
  margin: auto;
  margin-bottom: 300px;
  overflow: scroll;
  
}
.footer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: left;
}

.footer > div {
  width: 200px;
  height: 350px;

  margin-left: 50px;
}
.footer > div div {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: left;
}
.footer h4 {
  font-size: 18px;
  text-align: left;
  padding-bottom: 20px;
}
.footer P {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  padding-top: 10px;
}
.india_before {
  width: 100%;
  height: 300px;
}
.india_before hr {
  margin-top: 150px;
}
.india_after {
  width: 100%;
  height: 400px;
}
.india_after > div {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
.india_after > div div {
  width: 50%;
  height: 100px;
}
.india_after h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.india_after p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 12px;
}
.india_after > div div:last-child {
  text-align: end;
  padding-right: 50px;
}
.last {
  width: 100%;
  height: 70px;
  background-color: white;
  padding-top: 12px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 10px;
  bottom: 10px;
  align-items: center;
}
.last>div{
  margin-left: 10px;
  margin-right: 20px;
}

#continue {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#prize {
  color: rgb(14, 13, 13);
  font-weight: bolder;
  font-size: 18px;
  width: 200px;
}

#box1 {
  height: 500px;
  width: 100%;
  display: flex;
  margin-left: 30px;
}
#box11 {
  height: 500px;
  width: 300px;
}
#box12 {
  height: 500px;
  width: 150px;
  margin-right: 5px;
}
#image {
  height: 400px;
  width: 300px;
}

#nameDiv {
  height: 30px;
  width: 300px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 40px;
  box-sizing: content-box;
}
#shoppingNumber {
  height: 10px;
  width: 200px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
#wishlist {
  height: 10px;
  width: 200px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-left: 50px;
}

#proDiv1 {
  height: 150px;
  width: 150px;
  margin-left: 30px;
  margin-top: 70px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
#proDiv2 {
  height: 150px;
  width: 150px;
  margin-left: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
#proDiv3 {
  height: 150px;
  width: 150px;
  margin-left: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

#dele {
  height: 50px;
  width: 100px;
  text-decoration: underline;
  padding-top: 30px;
  cursor: pointer;
}
#sav {
  height: 50px;
  width: 150px;
}




/* ----------tab screen-------- */

@media all and (min-width: 416px) and (max-width: 700px) {

  
  #logo {
    width: 100%;
    height: 100px;
    position: fixed;
    margin-left: 30px;
    background-color: white;
  }
  
  #logo_img {
    padding-left: 30px;
    height: 100px;
    width: 200px;
  }
  .space {
    height: 140px;
    width: 180px;
  }
  .shop_bag {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
  }
  
  .product {
    
    align-items: center;
    margin-bottom: 300px;
    
  }
  .footer {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: left;
    display: none;
  }
  
  .footer > div {
    width: 200px;
    height: 350px;
    display: none;
    margin-left: 50px;
  }
  .footer > div div {
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: left;
    display: none;
  }
  .footer h4 {
    font-size: 18px;
    text-align: left;
    padding-bottom: 20px;
    display: none;
  }
  .footer P {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    padding-top: 10px;
    display: none;
  }
  .india_before {
    width: 100%;
    height: 300px;
    display: none;
  }
  .india_before hr {
    margin-top: 150px;
    display: none;
  }
  .india_after {
    width: 100%;
    height: 400px;
    display: none;
  }
  .india_after > div {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    display: none;
  }
  .india_after > div div {
    width: 50%;
    height: 100px;
    display: none;
  }
  .india_after h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: none;
  }
  .india_after p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    font-size: 12px;
    display: none;
  }
  .india_after > div div:last-child {
    text-align: end;
    padding-right: 50px;
    display: none;
  }
  .last {
    width: 100%;
    height: 70px;
    background-color: white;
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 10px;
    bottom: 10px;
    align-items: center;
   
  }
  .last>div{
    margin-left: 10px;
    margin-right: 20px;
  
  }
  
  #continue {
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  #prize {
    color: rgb(14, 13, 13);
    font-weight: bolder;
    font-size: 18px;
    width: 200px;
  }
  
  #box1 {
    height: 500px;
    width: 100%;
    display: flex;
    margin-left: 30px;
  }
  #box11 {
    height: 500px;
    width: 300px;
  }
  #box12 {
    height: 500px;
    width: 150px;
  margin-right: 5px;
  }
  #image {
    height: 400px;
    width: 300px;
  }
  
  #nameDiv {
    height: 30px;
    width: 300px;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    padding-top: 40px;
  }
  #shoppingNumber {
    height: 10px;
    width: 200px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  #wishlist {
    height: 10px;
    width: 200px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-left: 50px;
  }
  
  #proDiv1 {
    height: 150px;
    width: 150px;
    margin-left: 30px;
    margin-top: 70px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
  }
  #proDiv2 {
    height: 150px;
    width: 150px;
    margin-left: 30px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
  }
  #proDiv3 {
    height: 150px;
    width: 150px;
    margin-left: 30px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
  }
  
  #dele {
    height: 50px;
    width: 100px;
    text-decoration: underline;
    padding-top: 30px;
    cursor: pointer;
  }
  #sav {
    height: 50px;
    width: 150px;
  }
  
}
  



         /* ----------small size----------- */

@media all and (min-width: 1px) and (max-width: 415px) {


  #logo {
    width: 100%;
    height: 100px;
    position: fixed;
    margin-left: 30px;
    background-color: white;
  }
  
  #logo_img {
    padding-left: 30px;
    height: 100px;
    width: 200px;
  }
  .space {
    height: 140px;
    width: 180px;
  }
  .shop_bag {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
  }
  
  .product {
    
    
    align-items: center;
    margin: auto;
    margin-bottom: 300px;
    padding-right:5px;
    
  }
  .footer {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: left;
    display: none;
  }
  
  .footer > div {
    width: 200px;
    height: 350px;
    display: none;
    margin-left: 50px;
  }
  .footer > div div {
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: left;
    display: none;
  }
  .footer h4 {
    font-size: 18px;
    text-align: left;
    padding-bottom: 20px;
    display: none;
  }
  .footer P {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    padding-top: 10px;
    display: none;
  }
  .india_before {
    width: 100%;
    height: 300px;
    display: none;
  }
  .india_before hr {
    margin-top: 150px;
    display: none;
  }
  .india_after {
    width: 100%;
    height: 400px;
    display: none;
  }
  .india_after > div {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    display: none;
  }
  .india_after > div div {
    width: 50%;
    height: 100px;
    display: none;
  }
  .india_after h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: none;
  }
  .india_after p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    font-size: 12px;
    display: none;
  }
  .india_after > div div:last-child {
    text-align: end;
    padding-right: 50px;
    display: none;
  }
  .last {
    width: 90%;
    height: 70px;
    background-color: white;
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 10px;
    bottom: 10px;
    align-items: center;
  
  }
  .last>div{
    margin-left: 10px;
    margin-right: 20px;
    
  }
  
  #continue {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  #prize {
    color: rgb(14, 13, 13);
    font-weight: bolder;
    font-size: 18px;
    width: 200px;
  }
  
  #box1 {
    height: 500px;
    width: 100%;
    display: flex;
    margin-left: 30px;
  }
  #box11 {
    height: 500px;
    width: 300px;
  }
  #box12 {
    height: 500px;
    width: 150px;
  margin-right: 5px;
  }
  #image {
    height: 400px;
    width: 300px;
  }
  
  #nameDiv {
    height: 30px;
    width: 300px;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    padding-top: 40px;
  }
  #shoppingNumber {
    height: 10px;
    width: 200px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  #wishlist {
    height: 10px;
    width: 200px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-left: 50px;
  }
  
  #proDiv1 {
    height: 150px;
    width: 150px;
    margin-left: 5px;
    margin-top: 70px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
  }
  #proDiv2 {
    height: 150px;
    width: 150px;
    margin-left: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
  }
  #proDiv3 {
    height: 150px;
    width: 150px;
    margin-left: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
  }
  
  #dele {
    height: 50px;
    width: 100px;
    text-decoration: underline;
    padding-top: 30px;
    cursor: pointer;
  }
  #sav {
    height: 50px;
    width: 150px;
  }
  
}