@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap");

@font-face {
  font-family: "Neue-Helvetica";
  src: url(/Fonts/Neue/HelveticaNeue.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Cond";
  src: url(/Fonts/Neue/HelveticaNeue\ BlackCond.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Light";
  src: url(/Fonts/Helvetica-Neue-Font/Helvetica\ Neue\ UltraLight/Light.ttf)
    format("truetype");
}

@font-face {
  font-family: "Low";
  src: url(/Fonts/Low/Light.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !  Main navbar styles starts from here*/

#navbar {
  width: 100%;
  height: 105px;
  /* background-color: rgb(161, 161, 161); */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  overflow: hidden;
  border: 1px solid transparent;
}

#navbar__left {
  display: flex;
  width: 26%;
}

#navbar__right {
  width: 24%;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  gap: 18px 0px 0px 0px;
  text-transform: uppercase;
}

#navbar__right pre {
  font-family: "Neue-Helvetica", Arial, Sans-serif;
  font-size: 12px;
  margin-top: 4px;
}

#logodiv {
  display: flex;
  width: 90%;
}

#logodiv > img {
  margin-left: 80px;
  margin-top: 2px;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

#hamdiv {
  width: 10%;
}

#cart_logo {
  max-width: 80px;
  cursor: pointer;
}

/* ! Hamburger Menu Side Bar  */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: /* transparent; */ rgba(255, 37, 37, 0.001);
  overflow-x: hidden;
  padding-top: 130px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.sidenav a {
  padding: 4px 8px 4px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
  transition: 0.4s;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #1b1b1b;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -12px;
  transition: 0.7s;
  font-size: 35px;
}

.sideNavHeading {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.sidenav li {
  margin: 0%;
  font-size: 10px;
  display: block;
}

/* ! Navbar styles Ends Here*/

/* ! Help Modal Thing */

#help_div {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  background: transparent;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: 60px;
  margin-top: -50px;
  padding: 8px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 5px;

  /* max-height: 40px; */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content > pre {
  text-transform: capitalize;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ! Vertically Slider Styles  */

html,
body {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

body {
  font-family: "Neue-Helvetica", Helvetica, Arial, Sans-serif;
  font-family: Arial, Sans-serif;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;

  /* Center slide text vertically */

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.section_container {
  width: 1170px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.swiper-container-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical > .swiper-pagination-progressbar {
  position: absolute;
  left: 95%;
  top: 25%;
  height: 50%;
  justify-content: center;
}

video {
  width: 100%;
  height: 68vh;
}

.img-text {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  text-align: center;
  justify-content: center;
}

/* ! Horizontal slider Styles */

.container {
  width: 100%;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 55px;
}

.swiper {
  width: 80%;
  height: fit-content;
}

/* ------------Footer Styles starts from here ------------------ */

footer {
  margin-top: 100px;
  text-align: center;
}

footer > h4 {
  font-weight: 300;
  margin-bottom: 120px;
  font-size: 12px;
  text-transform: uppercase;
}

/* social media links on the footer */

#social-media {
  display: relative;
  justify-content: center;
}

li {
  display: inline-block;
  font-weight: 300;
  font-size: 8px;
  margin-right: 20px;
  margin-bottom: 120px;
  text-transform: uppercase;
}

#bottom-foot {
  padding-left: 50px;
  text-align: start;
  font-weight: 300;
  font-size: 9px;
  margin-bottom: -110px;
  text-transform: uppercase;
}

#bottom-text ul {
  font-size: 8px;
}

/* Footer Styles ends here */

.static {
  display: none;
  visibility: hidden;
}

/* ! Media Queries Starts From Here---------- */

@media (max-width: 391px) {
  .sidenav {
    background-color: white;
    transition: 0.6s;
    padding-top: 80px;
  }

  .sidenav a {
    font-size: 17px;
    color: black;
    display: flex;
    justify-content: center;
  }

  .swiper-slide > video {
    width: 100%;
    margin: auto;
  }

  .sections {
    width: 100%;
    display: flex;
    /* background-color: rgb(143, 42, 42); */
    margin-top: 30px;
  }

  .swiper-slide {
    width: 100%;
  }

  .swiper-warpper {
    width: 90%;
    background-color: tomato;
  }

  .section_container {
    width: 90%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
  }

  .image > img {
    width: 100%;
    justify-content: center;
    height: 450px;
    object-fit: cover;
  }

  .swiper-warpper .swiper-slide {
    width: 85%;
    margin: auto;
    overflow: hidden;
  }

  .swiper-slide .image > img {
    margin: auto;
    margin-right: 20px;
    max-height: 380px;
  }

  #bottom-foot {
    padding-left: 5px;
    font-weight: 300;
    font-size: 10px;
    margin: auto;
    /* margin-bottom: -180px; */
    text-transform: uppercase;
  }

  #logodiv {
    margin-left: -55px;
  }

  #help_div,
  #cart_div {
    display: none;
  }

  #login {
    margin-top: 5px;
    margin-left: 25px;
    font-size: 12px;
  }

  .container {
    width: 100%;
    margin: auto;
    /* display: flex;
    justify-content:center */
    background-color: plum;
  }

  .horizontal-img2 {
    background-color: yellow;
    text-align: center;
    /* overflow-wrap: hidden; */
    display: none;
  }

  .menimg {
    margin: auto;
  }

  .swiper {
    height: fit-content;
    display: flex;
    overflow: hidden;
    text-align: center;
  }
}
