* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue-Helvetica";
  src: url(/Fonts/Neue/HelveticaNeue.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Cond";
  src: url(/Fonts/Neue/HelveticaNeue\ BlackCond.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Light";
  src: url(/Fonts/Helvetica-Neue-Font/Helvetica\ Neue\ UltraLight/Light.ttf)
    format("truetype");
}

@font-face {
  font-family: "Low";
  src: url(/Fonts/Low/Light.ttf) format("truetype");
}

body {
  font-family: "Neue-Helvetica", Arial, Sans-serif;

  font-family: Arial, Sans-serif;
  /* font-family: "Low"; */
}

/* !  Main navbar styling starts from here*/

#navbar {
  width: 100%;
  height: 105px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
}

/* #navbar:hover{
  background-color: white;
} */

#navbar__left {
  display: flex;
  width: 26%;
}

#logodiv {
  display: flex;
  width: 90%;
}

#logodiv > img {
  margin-left: 80px;
  margin-top: 2px;
  cursor: pointer;
}

#navbar__right {
  width: 24%;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  gap: 18px 0px 0px 0px;
  text-transform: uppercase;
}

#navbar__right pre {
  font-family: "Neue-Helvetica", Arial, Sans-serif;
  font-size: 12px;
  margin-top: 4px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

#hamdiv {
  width: 10%;
}

#cart_logo {
  max-width: 80px;
  cursor: pointer;
}

/* ! Hamburger Menu Side Bar  */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent; /* rgba(255, 37, 37, 0.01); */
  overflow-x: hidden;
  padding-top: 130px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.sidenav a {
  padding: 4px 8px 4px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #1b1b1b;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -13px;
  font-size: 34px;
}

.sideNavHeading {
  font-size: 18px;
}

.sidenav li {
  margin: 0%;
  font-size: 10px;
  display: block;
}

ul {
  list-style-type: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* ! Navbar styles Ends Here*/

#first {
  width: 100%;
  /* height: 80vh; */
  /* background-color: red; */
  margin: auto;
  margin-bottom: 450px;
}
.womenimg,
.menimg {
  cursor: pointer;
}

#second {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 450px;
}

#second li {
  margin-top: 15px;
  font-size: 12px;
  padding: 10px  8px;
  padding-left: 2px;
}

#third {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 450px;
  text-align: center;
}

#fourth {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 450px;
}

#fifth {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 450px;
}

video {
  width: 100%;
  height: 450px;
}

footer {
  text-align: center;
}

footer > h4 {
  font-weight: 300;
  margin-bottom: 120px;
  font-size: 12px;
  text-transform: uppercase;
}

/* social media links on the footer */

#social-media {
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  font-weight: 300;
  font-size: 10px;
  margin-right: 20px;
  margin-bottom: 120px;
  text-transform: uppercase;
}

#bottom-foot {
  padding-left: 130px;
  text-align: start;
  font-weight: 300;
  font-size: 9px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

#bottom-text ul {
  font-size: 10px;
}

/* ! Sliding Divs Styles starts here  */

.container {
  width: 100%;
  height: 76vh;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: black;
}

/* ! Sliding Divs Styles ends here  */

/* ! Help Modal Styles */

#help_div {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  background: transparent;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: 60px;
  margin-top: -50px;
  padding: 8px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 5px;

  /* max-height: 40px; */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content > pre {
  text-transform: capitalize;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
