* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue-Helvetica";
  src: url(/Fonts/Neue/HelveticaNeue.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Cond";
  src: url(/Fonts/Neue/HelveticaNeue\ BlackCond.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Light";
  src: url(/Fonts/Helvetica-Neue-Font/Helvetica\ Neue\ UltraLight/Light.ttf)
    format("truetype");
}

@font-face {
  font-family: "Low";
  src: url(/Fonts/Low/Light.ttf) format("truetype");
}

body {
  font-family: "Neue-Helvetica", Arial, Sans-serif;

  font-family: Arial, Sans-serif;
  color: rgb(34, 34, 34);
  /* font-family: "Low"; */
} 

/* !  Main navbar styles starts from here*/

#navbar {
  width: 100%;
  height: 105px;
  /* background-color: rgb(161, 161, 161); */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
  overflow: hidden;
  border: 1px solid transparent;
}

#navbar__left {
  display: flex;
  width: 26%;
}

#navbar__right {
  width: 24%;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  gap: 18px 0px 0px 0px;
  text-transform: uppercase;
}

#navbar__right pre {
  font-family: "Neue-Helvetica", Arial, Sans-serif;
  font-size: 12px;
}

#logodiv {
  display: flex;
  width: 90%;
}

#logodiv > img {
  margin-left: 80px;
  margin-top: 2px;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

#hamdiv {
  width: 10%;
}

#cart_logo {
  max-width: 80px;
  cursor: pointer;
}

/* ! Hamburger Menu Side Bar  */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: /* transparent; */ rgba(255, 37, 37, 0.001);
  overflow-x: hidden;
  padding-top: 130px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.sidenav a {
  padding: 4px 8px 4px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
  transition: 0.4s;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #1b1b1b;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -12px;
  transition: 0.7s;
  font-size: 35px;
}

.sideNavHeading {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.sidenav li {
  margin: 0%;
  font-size: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

  /* login start */
         body{
          font-family: Neue-Helvetica,Helvetica, Arial, sans-serif;
         }
         input {
              border-top-style: hidden;
              border-right-style: hidden;
              border-left-style: hidden;
              border-bottom-style: groove;
              background-color: white;
              
              }
              input[type="text"] {
                border: none;
                border-bottom: 2px solid rgb(22, 20, 20);
              }
              #password:focus{
                    outline: none;
              }
              #email:focus{
                outline: none;
              }
          #main{
              /* border: 2px solid red; */
              display: grid;
              grid-template-columns: 212px 212px;
              margin: 100px 0px 0px 60px;
              margin-bottom: 100px;
             
              /* margin-left: 40px; */
              
          }
          #left{
              /* border: 2px solid blue; */
              width: 212px;
              height: 360px;
              box-sizing: border-box;
              padding: 40px 0px 0px;
          }
          #lefth2{
              width:212px;
              height: 12px;
              margin: 0px 0px 40px;
              color: #000000;
          }
          #form{
              width: 212px;
              height: 212px;
              margin: -14px 0px 0px;
          }
          #formdiv1{
              width: 212px;
              height: 43.35px;
              padding: 24px 0px 0.5px;
          }
          #formdiv1>input{
              width: 212px;
              height: 18px;
          }
          #formdiv2{
              width: 212px;
              height: 43.35px;
              padding: 24px 0px 0.5px;
          }
          #formdiv2>input{
              width: 212px;
              height: 18px;
          }   
          #formdiv3{
              width: 212px;
              height: 100px;
              margin: 24px 0px 0px;
          }
          #formdiv3>input{
              width: 212px;
              height: 40px;
              padding: 10px 12px;
              margin: 24px 0px 0px;
              background: #000000;
              color: white;
          }
          #right{
              /* border: 2px solid blue; */
              width: 212px;
              height: 360px;
              margin: 0px 0px 0px 200px;
          }
          #right>div:first-child{
              width: 212px;
              height: 72px;
              margin: 12px 0px 0px;
          }
          #right>div:last-child{
              width: 212px;height: 120px;
          }
          #right>div:last-child>button{
              width:212px;
              height: 40px;
              margin: 80px 0px 0px;
              padding: 10px 12px;
              background: #000000;
              color: white;
          }
          #login {cursor: pointer;}
          #createaccount{cursor: pointer;}



          /* footer start here */

.footer{
  width: 100%;
  height: 350px;
  display: flex;
  margin-left: 100px;
  justify-content: left;
}

.footer>div{
  width: 200px;
  height: 350px;
  
  margin-left: -30px;
}
.footer>div div{
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: left;
  
}
.footer h4{
  font-size: 15px;
  text-align: left;
  padding-bottom: 20px;
  
}
.footer P
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-style: normal;
  padding-top: 10px;
}
.footer>div:nth-child(4){
  margin-left: -80px;
}



/* bottom page  */

.india_before
{
   
    width: 100%;
    height: 300px;
}
.india_before hr
{
  
    margin-top: 150px;
}
.india_after
{
  margin-left: 50px;
   
    width: 100%;
    height: 400px;
   
}
.india_after>div
{
   
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.india_after>div div
{
    
    width: 50%;
    height: 200px;
}
.india_after h4
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.india_after p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 9px;
    margin-top: 3px;
}
.india_after>div div:last-child
{
    text-align: end;
    padding-right: 50px;
}


@media all and (max-width:410px){

  #right{
    display: none;
        visibility : hidden;
  }
  
  .footer { 
    display : none; 
    visibility : hidden; 
}

/* .india_before{
  display: none;
  visibility : hidden;
}
.india_after{
  display: none;
  visibility : hidden;
} */
}