* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue-Helvetica";
  src: url(/Fonts/Neue/HelveticaNeue.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Cond";
  src: url(/Fonts/Neue/HelveticaNeue\ BlackCond.ttf) format("truetype");
}

@font-face {
  font-family: "Neue-Helvetica-Light";
  src: url(/Fonts/Helvetica-Neue-Font/Helvetica\ Neue\ UltraLight/Light.ttf)
    format("truetype");
}

@font-face {
  font-family: "Low";
  src: url(/Fonts/Low/Light.ttf) format("truetype");
}

body {
  font-family: "Neue-Helvetica", Arial, Sans-serif;

  font-family: Arial, Sans-serif;
  color: rgb(34, 34, 34);
  /* font-family: "Low"; */
}

/* !  Main navbar styles starts from here*/

#navbar {
  width: 100%;
  height: 105px;
  /* background-color: rgb(161, 161, 161); */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
  overflow: hidden;
  border: 1px solid transparent;
}

#navbar__left {
  display: flex;
  width: 26%;
}

#navbar__right {
  width: 24%;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  gap: 18px 0px 0px 0px;
  text-transform: uppercase;
}

#navbar__right pre {
  font-family: "Neue-Helvetica", Arial, Sans-serif;
  font-size: 12px;
}

#logodiv {
  display: flex;
  width: 90%;
}

#logodiv > img {
  margin-left: 80px;
  margin-top: 2px;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

#hamdiv {
  width: 10%;
}

#cart_logo {
  max-width: 80px;
  cursor: pointer;
}

/* ! Hamburger Menu Side Bar  */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: /* transparent; */ rgba(255, 37, 37, 0.001);
  overflow-x: hidden;
  padding-top: 130px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.sidenav a {
  padding: 4px 8px 4px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
  transition: 0.4s;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: #1b1b1b;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -12px;
  transition: 0.7s;
  font-size: 35px;
}

.sideNavHeading {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.sidenav li {
  margin: 0%;
  font-size: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* ! Navbar styles Ends Here*/
