/* here start purchespage */

#main{
    /* border: 2px solid red; */
    height: 400px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 250px;
}


#main>div{
    /* border: 2px solid blueviolet; */

}
#left>h3{
    padding-top: 40%;
    grid-template-rows: l;
}
#left>p{
  margin-top: 40px;
}
#mid>img{
    width:100%;
    grid-template-areas: m;
}
#right{
  grid-template-rows: r;
}
#price{
  margin-top: 40px;
}


#cartbtn{
    margin-top: 13px;
    width: 250px;
    height: 40px;
    background-color: #000000;
    color: aliceblue;
       
}
#select_select{
    width: 100px;
    height: 20px;
    outline: none;
    
    border: transparent;
  }
 select option{margin-top: 15px;}
 select {
    text-indent: 5px;
  }
  #findSize{
    margin-top: 100px;
    font-size: 11px;
    width: 250px;
    display: flex;
    
    justify-content: space-around;
   
    
  }
  #findSize>p{
  
    gap: 20px;
  }
  p{
      font-size: 11px;
      line-height: 20px;
     
      
  }
  #price{
      width: 100px;
      height: 30px;
      
      background-color: #000000;
      color: white;
  }
  #price>h4{
      padding: 8px;
  }



/* footer start here */

.footer{
  width: 100%;
  height: 350px;
  display: flex;
  margin-left: 90px;
  justify-content: left;
}

.footer>div{
  width: 200px;
  height: 350px;

  margin-left: -3px;
}
.footer>div div{
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: left;
}
.footer h4{
  font-size: 15px;
  text-align: left;
  padding-bottom: 20px;
  
}
.footer P
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-style: normal;
  padding-top: 10px;
}
.footer>div:nth-child(4){
  margin-left: -80px;
}



/* bottom page  */

.india_before
{
   
    width: 100%;
    height: 300px;
}
.india_before hr
{
    margin-top: 150px;
}
.india_after
{
  margin-left: 50px;
    width: 100%;
    height: 400px;
   
}
.india_after>div
{
   
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.india_after>div div
{
    
    width: 50%;
    height: 200px;
}
.india_after h4
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.india_after p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 9px;
}
.india_after>div div:last-child
{
    text-align: end;
    padding-right: 50px;
}

  
   
    @media all and (max-width:415px){
      #main{
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 410px;
        height: 700px;
        /* gap: 80px; */
        /* margin: auto; */
        margin-top: 20px;
        
    } 
   
      .footer { 
          display : none; 
          visibility : hidden; 
      }
  
      .india_before{
        display: none;
        visibility : hidden;
      }
      .india_after{
        display: none;
        visibility : hidden;
      }
      #right{
        margin-left: 40px;
        margin-right: 40px;
      }
      #mid{
        
        margin: auto;
        text-align: center;
      }
      #mid>img{
        width: 80%;
        margin: auto;
        
      }
    #left{
      display: none;
        visibility : hidden;
    }
    #cartbtn{
      margin-top: 5px;
      width: 200px;
      height: 40px;
      background-color: #000000;
      color: aliceblue;
    }
    select {
      display: none;
        /* visibility : hidden; */
    }
    #findSize{
      display: none;
        visibility : hidden;

    }
    #elmentsize{
      display: none;
      visibility : hidden;

    }

    }
   
   